/* -------------------------------------------------------------------------------------------------------- */

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.animate-cloud {
  animation: float 1.5s ease-in-out infinite;
}

.tail {
  height: 25px;
  width: 25px;
  background: #e5e5e5;
  position: absolute;
  left: -40px;
  bottom: 2px;
  border-radius: 50%;
  &:before {
    height: 12px;
    width: 12px;
    background: #e5e5e5;
    content: "";
    display: block;
    border-radius: 50%;
    position: absolute;
    left: -10px;
    bottom: -8px;
  }
}
